<%- include('partials/header'); -%>
<div class="row">
    <div class="col-12">

        <!-- Goals -->
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h2 class="card-header-title">
                            QUẢN LÝ TÀI LIỆU
                        </h2>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-sm btn-white">
                            Export
                        </a>

                    </div>
                </div> <!-- / .row -->
            </div>
            <div class="p-3">
                <table class="table table-hover dt-responsive" id="document-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tiêu đề</th>
                        <th>Môn học</th>
<!--                        <th>Khoa</th>-->
<!--                        <th>Năm</th>-->
                        <th>Người đăng</th>
                        <th>Chế độ</th>
                        <th>Loại</th>
                        <th>Trạng thái</th>
                        <th>Ngày đăng</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% docs.forEach((doc, index) => { %>
                        <tr id="<%= doc.id_doc %>">
                            <td><%= index+1 %></td>
                            <td class="title"><%= doc.title %></td>
                            <td class="id_subject" data="<%= doc.id_subject %>"><%= doc.subject_name %></td>
<!--                            <td class="id_faculty" data="<%= doc.id_faculty %>"><%= doc.faculty_name %></td>-->
<!--                            <td class="id_year" data="<%= doc.id_year %>"><%= doc.year_name %></td>-->
                            <td class="id_user" data="<%= doc.id_user %>">
                                <a href="#<%= doc.id_user %>"><%= doc.user_name %></a>
                            </td>
                            <td class="privacy"><%= doc.privacy %></td>
                            <td class="type"><%= doc.type %></td>
                            <td class="status" data="<%= doc.status %>">
                                <% if(doc.status === 0) { %>
                                    <span class="badge badge-warning">Chờ duyệt</span>
                                <% } else if(doc.status === 1) { %>
                                        <span class="badge badge-success">Đã duyệt</span>
                                    <% } else if(doc.status === -1) { %>
                                        <span class="badge badge-danger">Chờ xóa</span>
                                    <% } else if(doc.status === -1) { %>
                                        <span class="badge badge-Secondary">Ẩn</span>
                                    <% } %>
                            </td>
                            <td class="created_time"><%= moment(doc.created_time).format('DD/MM/YYYY HH:mm:ss') %></td>
                            <td>
                                <button class="btn btn-sm btn-outline-info view" title="Xem file"><i class="fa fa-eye"></i></button> |
                                <button class="btn btn-sm btn-outline-success verify" title="Duyệt"><i class="fa fa-check"></i></button> |
                                <button class="btn btn-sm btn-outline-primary edit" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button> |
                                <button class="btn btn-sm btn-outline-danger delete" title="Xóa"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<%- include('partials/footer'); -%>

