<div class="modal" id="upload_modal" tabIndex={-1} role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload tài liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Tiêu đề:</label>
                        <input class="form-control" type="text" id="title" placeholder="Tiêu đề"/>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_subject">Môn học:</label>
                            <select class="form-control subject_select" id="id_subject">
                                <% subjects.forEach(subject => { %>
                                    <option value="<%= subject.id_subject %>"><%= subject.subject_name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_faculty">Khoa:</label>
                            <select class="form-control faculty_select" id="id_faculty">
                                <option value="<%= faculties.find(f => f.faculty_name === "Tất cả khoa") && faculties.find(f => f.faculty_name === "Tất cả khoa").id_faculty || 'all' %>">Tất cả khoa</option>
                                <% faculties.forEach(faculty => { %>
                                    <option value="<%= faculty.id_faculty %>"><%= faculty.faculty_name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="type">Loại tài liệu:</label>
                            <select class="form-control" id="type">
                                <option value="DT">Đề thi</option>
                                <option value="DC">Đề cương</option>
                                <option value="K">Khác</option>
                            </select>
                        </div>
                        <div class="form-group col-6 col-md-4">
                            <label for="privacy">Chế độ đăng:</label>
                            <select class="form-control" id="privacy">
                                <option value="public">Công khai</option>
                                <option value="private">Ẩn danh</option>
                            </select>
                        </div>
                        <div class="form-group col-6 col-md-4">
                            <label for="id_year">Năm học:</label>
                            <select class="form-control" id="id_year">
                                <% years.forEach(subject => { %>
                                    <option value="<%= subject.id_year%>"><%= subject.year_name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note">Miêu tả:</label>
                        <textarea class="form-control" rows="3" id="note" placeholder="Miêu tả chút"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">File:
                            <span style="color: #90949c;"> (Tối đa 15 file)</span>
                        </label>
                        <div class="post-upload-file">
                            <input type='file' id="imageUpload" accept="image/*"  style="display: none" multiple/>
                            <label for="imageUpload" class="btn-upload-cus"><img src="/img/image.png" width="30px"/> Thêm Ảnh</label>
                            <input type='file' id="fileUpload" style="display: none" multiple/>
                            <label for="fileUpload" class="btn-upload-cus"><img src="/img/file.png" width="30px"/> Thêm File</label>
                            <div class="image-picker box" style="display: none">
                                <label for="imageUpload" class="image-picker-image-container add" class="imageUpload">+</label>
                            </div>
                            <div class="file-picker mt-2" style="display: none">
                                <b><i class="fa fa-paperclip"></i> Tệp:</b>
                                <span>(Kích thước tối đa 10MB)</span>
                                <ul>
                                    <li style="list-style: none">
                                        <label for="fileUpload" class="file-picker-file-add">+ thêm</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cus" id="btn-upload"><i class="fa fa-cloud-upload"></i> Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>