<%- include('partials/header'); -%>
<section class="container main-container">
    <div class="mt-3 mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/docs/"><i class="fa fa-home"></i>  Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/docs/s/<%= doc.id_subject %>"><%= doc.subject_name %></a></li>
            <li class="breadcrumb-item active"><%= doc.title || 'Không tiêu đề'%></li>
        </ol>
<!--        <h3 class="m-3 text-vip font-weight-bold"><i class="fa fa-list-alt"></i> Không tiêu đề</h3>-->
        <div class="doc-view">
<!--            <h5><i class="fa fa-clipboard"></i> Miêu tả:</h5>-->
            <h2><%= doc.title || 'Không tiêu đề'%></h2>
            <hr/>
            <div class="doc-info">
                <i class="fa fa-book"></i> <%= doc.faculty_name %>
                <i class="fa fa-calendar"></i> <%= moment(doc.created_time).format('DD/MM/YYYY HH:mm:ss') %>
                <i class="fa fa-user"></i> <a href="#"> <%= doc.privacy == 'public' ? doc.user_name : 'Người tốt bụng'%></a>
                <i class="fa fa-eye"></i> <%= doc.view %>
            </div>
            <div class="doc-note">
                <p><%= doc.note %></p>
            </div>
            <h5><i class="fa fa-paperclip"></i> File đính kèm:</h5>
            <div class="list-file lightBoxGallery">
                <% files.forEach(file => { %>
                    <div class="file-box">
                        <% if(['jpg', 'png', 'svg', 'gif'].includes(file.filename.substring(file.filename.lastIndexOf('.')+1))) { %>
                            <a href="/upload/photo/<%= file.filename %>" title="<%= doc.title || 'Không tiêu đề'%>" data-gallery="">
                                <div class="file">
                                    <span class="corner"></span>
                                    <div class="image">
                                        <img  class="img-fluid"  src="/upload/photo/<%= file.filename %>">
                                    </div>
                                    <div class="file-name">
                                        <%= file.filename %>
                                    </div>
                                </div>
                            </a>
                        <% } else {%>
                            <% const type = { 'doc': 'fa-file-word-o', 'docx': 'fa-file-word-o', 'xls': 'fa-bar-chart-o',
                                                'pdf': 'fa-file-pdf-o', 'mp3': 'fa-music', 'xml': 'fa-file-code-o', 'pptx': 'fa-file-powerpoint-o',
                                                'rar': 'fa-file-archive-o', 'zip': 'fa-file-archive-o',}%>
<!--                            <a class="word" target="_blank" href="//docs.google.com/gview?url=http://hoaiphan.epizy.com/doc/B%c3%a0i%20t%e1%ba%adp%20h%e1%bb%8dc%20ph%e1%ba%a7n.docx&embedded=true">-->
                                <div class="file">
                                    <span class="corner"></span>
                                    <div class="file-action view">
                                        <a target="_blank"  href="//docs.google.com/gview?url=http://hoaiphan.epizy.com/doc/B%c3%a0i%20t%e1%ba%adp%20h%e1%bb%8dc%20ph%e1%ba%a7n.docx&embedded=true"><i class="fa fa-eye" title="Xem"></i></a>
                                    </div>
                                    <div class="file-action download">
                                        <a href="http://hoaiphan.epizy.com/doc/B%c3%a0i%20t%e1%ba%adp%20h%e1%bb%8dc%20ph%e1%ba%a7n.docx"><i class="fa fa-download" title="Tải"></i></a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa <%= type[file.filename.substring(file.filename.lastIndexOf('.')+1)] || 'fa-file'%>"></i>
                                    </div>
                                    <div class="file-name">
                                        <%= file.filename %>
                                    </div>
                                </div>
<!--                            </a>-->
                        <% }%>
                    </div>
                <% }) %>
                <div class="clearfix"></div>
            </div>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
            <hr/>
            <h5 class="mt-3"><i class="fa fa-comments"></i> Bình luận:</h5>
            <div class="fb-cmt">
                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="95%" data-numposts="5"></div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/uploadFileModal'); -%>
<%- include('partials/footer'); -%>

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $(".word").fancybox({-->
<!--            'width': '90%', // or whatever-->
<!--            'height': '80%',-->
<!--            'type': 'iframe'-->
<!--        });-->
<!--    }); //  ready-->
<!--</script>-->