<%- include('partials/header'); -%>
<script>
    let g_docs = JSON.parse('<%- JSON.stringify(docs) %>');
    let g_subject = JSON.parse('<%- JSON.stringify(subject) %>');
</script>
<section class="container main-container">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active"><%= subject.subject_name %></li>
    </ol>
    <div class="row">
        <h3 class="m-3 text-vip font-weight-bold"><i class="fa fa-list-alt"></i> Danh sách tài liệu</h3>
<!--        <div class="ml-auto col-md-3 doc-filter text-right">-->
<!--            <div class="btn-group">-->
<!--                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Lọc theo khoa-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
<!--                    <% faculties.forEach(faculty => { %>-->
<!--                        <a class="dropdown-item" href="#"><%= faculty.faculty_name %></a>-->
<!--                    <% }) %>-->
<!--                </div>-->
<!--&lt;!&ndash;                &nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                    Sắp xếp&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="dropdown-item" href="#">xxx</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="clearfix"></div>-->
    </div>
    <div class="doc-control">
        <div class="row">
            <label for="inputEmail3" class="col-sm-4 col-md-2 col-form-label"><i class="fa fa-filter"></i> Lọc theo khoa:</label>
            <div class="col-sm-8 col-md-4">
                <select class="form-control faculty_select" id="faculty_search">
<!--                    <option value="<%= faculties.find(f => f.faculty_name === "Tất cả").id_faculty || 'all' %>">Tất cả</option>-->
                    <option value="0">Tất cả</option>
                    <% faculties.forEach(faculty => { %>
                        <option value="<%= faculty.id_faculty %>"><%= faculty.faculty_name %></option>
                    <% }) %>
                </select>
            </div>
            <label for="inputEmail3" class="col-sm-4 col-md-2 col-md- col-form-label"><i class="fa fa-filter"></i> Loại tài liệu:</label>
            <div class="col-sm-8 col-md-4">
                <select class="form-control" id="type_search">
                    <option value="0">Tất cả</option>
                    <option value="DT">Đề thi</option>
                    <option value="DC">Đề cương</option>
                    <option value="K">Khác</option>
                </select>
            </div>
        </div>
    </div>
    <div class="list-doc">
        <% docs_page1.forEach(doc => { %>
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-10">
                        <div class="vote-actions">
                            <i class="fa fa-chevron-up"> </i>
                            <div class="text-danger"><%= doc.view %></div>
                            <i class="fa fa-chevron-down"> </i>
                        </div>
                        <a href="/docs/d/<%= doc.id_doc %>" class="vote-title"><%= doc.title || 'Không tiêu đề'%> <%= doc.type==="DT" ? " (" + doc.year_name + ")" : "" %></a>
                        <div class="vote-info" data-faculty="<%= doc.id_faculty %>" data-type="<%= doc.type %>">
                            <i class="fa fa-list-alt"></i> <%= doc.faculty_name %>
                            <i class="fa fa-calendar"></i> <%= moment(doc.created_time).format('DD/MM/YYYY HH:mm:ss') %>
                            <i class="fa fa-user"></i> <a href="#">
                                <%= doc.privacy == 'public' ? doc.user_name : 'Người tốt bụng'%>
                            </a>
                            <i class="fa fa-eye"></i> <%= doc.view %>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="vote-icon">
                            <i class="fa fa-paper-plane"> </i>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        <div class="load-data">
            <img src="/img/loader.gif">
        </div>
        <h6 class="text-center m-5 <%= docs.length > 0 ? 'd-none' : '' %>" id="show-none">Không có tài liệu.</h6>
        </div>
</section>

<%- include('partials/uploadFileModal'); -%>
<%- include('partials/footer'); -%>